Body {
  background: #e7f6ff;
}

.Head {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eaeaea;
  padding: 30px;
}

.Logo {
  display: flex;
  margin: 0 0 0 20px;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.LogoText {
  margin: 0 0 0 15px;
}

.first-child {
  font-weight: bolder;
  font-size: 20px;
  text-transform: uppercase;
}

#TextDimmed {
  margin-top: -20px;
}

.TextDimmed {
  color: #9d9d9d;
}

.LogoRight {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 15px;
}
.TextLogoRight {
  margin-right: 10px;
  color: #5c5c5c;
  font-weight: 600;
  cursor: pointer;
}

.SvgRight {
  margin-left: 10px;
  margin-right: 10px;
  // cursor: pointer;
}

.SvgRightCart {
  margin-left: 10px;
  margin-right: 10px;
  // cursor: pointer;
}
.App {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

.Content {
  padding: 40px;
  h1 {
    margin: 0;
  }
}

.Sneakers {
  display: flex;
  flex-wrap: wrap;
}

.SearchBlock {
  display: flex;
  border: 1px solid #cacacac2;
  border-radius: 10px;
  padding: 0 15px;
  position: relative;

  input {
    border: 0;
    padding: 13px;
    font-size: 16px;
    outline: none;
    width: 200px;
  }

  .ClearSearch {
    cursor: pointer;
    position: absolute;
    right: 0;
    width: 18px;
    height: 18px;
    right: 15px;
    top: 13px;
  }
}

.Search {
  display: flex;
  align-items: center;
  margin-bottom: 40px !important;
  justify-content: space-between;
}

.Overley {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
  position: fixed;
}

.Drawer {
  position: absolute;
  width: 385px;
  right: 0;
  height: 100%;
  background: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 0 30px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .cartItemContainer {
    overflow: auto;
    .CartItem {
      margin-bottom: 20px;
    }
  }

  h2 {
    margin-top: 30px;
    padding-bottom: 10px;
    font-size: 24px;
    display: flex;
    justify-content: space-between;

    .RemoveBtn {
      opacity: 0.5;
      transition: opacity 0.2s ease-in-out;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }
    .CloseBtn {
      opacity: 0.5;
      transition: opacity 0.2s ease-in-out;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.CartItem {
  border: 1px solid #dbdbdb;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 100px;

  .CardItemImg {
    width: 70px;
    height: 70px;
    background-size: contain;
    background-position: 0 10px;
    background-repeat: no-repeat;
    margin-right: 20px;
    margin-left: 10px;
    padding: 20px;
  }
  p {
    margin-bottom: 5px;
    font-size: 16px;
    margin: 0;
  }
  b {
    font-size: 14px;
  }
  .CartInfo {
    margin-right: 20px;
  }
  .CartImg {
    margin-right: 20px;
  }
  .RemoveBtn {
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;
    margin-right: 15px;

    &:hover {
      opacity: 1;
    }
  }
}

.CartTotalBlock {
  li {
    margin-left: -35px;
  }
  div {
    flex: 1;
    height: 1px;
    border-bottom: 1px dashed #dfdfdf;
    position: relative;
    top: -4px;
    margin: 0 7px;
  }

  li {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
  }
  button {
    width: 100%;
    height: 55px;
    background: #9dd558;
    border-radius: 18px;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    transition: background 0.2s ease-in-out;

    &:hover {
      background: lighten(#9dd558, 5%);
      cursor: pointer;
    }

    &:active {
      background: darken(#9dd558, 5%);
    }
  }
  .GreenButton {
    position: relative;

    &:hover {
      img {
        transform: translateX(5px);
      }
    }

    img {
      position: absolute;
      right: 40px;
      top: 20px;
      transition: transform 0.15s ease-in-out;
    }
  }
}
.GreenButton {
  width: 100%;
  height: 55px;
  background: #9dd558;
  border-radius: 18px;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  transition: background 0.2s ease-in-out;

  &:hover {
    background: lighten(#9dd558, 5%);
    cursor: pointer;
  }

  &:active {
    background: darken(#9dd558, 5%);
  }
}
.itemss {
  margin-bottom: 20px;
}

.cartItemContainer {
  height: 100vh;
}

.Card {
  border: solid 1px #c9c9c9;
  padding: 27px;
  padding-top: 1px;
  width: 170px;
  height: 250px;
  border-radius: 40px;
  margin-right: 24px;
  margin-bottom: 30px;
  transition: transform 0.25s;
  &:hover {
    box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
    transform: scale(1.05);
  }
  .CardBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .CardPrice {
    display: flex;
    margin-top: -30px;
  }
  h5 {
    font-weight: 400;
    font-size: 14px;
  }
  b {
    font-size: 14px;
  }
  p {
    opacity: 0.5;
    font-size: 15px;
  }
  .Favorite {
    position: absolute;
    cursor: pointer;
    padding-top: 12px;
  }
}

.CardPrice {
  display: flex;
  flex-direction: column;
}
.CardPriceB {
  margin-top: -12px;
}

.CartEmpty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  p {
    text-align: center;
   margin-top: -11px;
  }
  h2 {
    margin-top: 0 ;
  }
}
